<!DOCTYPE html>
<html lang="en" ng-app="angularApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Angular JS</title>
</head>
<body ng-controller="mainctrl as vm">
<h3>Angular Application</h3>
<ul>
    <li ng-repeat="post in vm.posts">
            <strong>Title:</strong> {{ post.title}} </br>
            <strong>Body:</strong> {{ post.body}}
            
    </li>
</ul>
<!-- <h3>Search By Value: </h3>
<input type="text" ng-model="vm.search">
<ul>
    <li ng-repeat="fruit in vm.fruits | filter: vm.search">
        {{ fruit | makePlural}}
    </li>
</ul> -->
<button class='btn btn-primary' ng-click="vm.alertMe()">click me</button>
</div>

    
 
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
 <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> -->
    <script src="app.js"></script>
</body>
</html>